---
title: Jacob Friis Saxberg
description: Passionated photographer.
---

<div class="container-fluid">
  <div class="mt-1 mb-5">
    <h2 class="text-hide">Instagram photos selected and ordered by the community.</h2>
    <div id="photos">
      <div class="imgbox m-1 m-sm-3">
        <a href="https://www.instagram.com/webjay/">
          <img src="balls.gif" alt="Loading image..." class="img-fluid img-std">
        </a>
      </div>
    </div>
  </div>
</div>

<footer class="fixed-bottom">
  <nav class="navbar bg-faded">
    <div class="container-fluid">
      <ul class="nav justify-content-center small flex-column flex-sm-row">
        <li class="nav-item hidden-xs-down">
          <a class="nav-link text-black" href="./">Jacob Friis Saxberg</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="mailto:jacob@webcom.dk">jacob@webcom.dk</a>
        </li>
        <li class="nav-item hidden-xs-down">
          <a class="nav-link text-black" href="tel:+4542720871">+45 42720871</a>
        </li>
        <li class="nav-item hidden-xs-down">
          <a class="nav-link text-black" href="https://www.linkedin.com/in/jfsaxberg/">LinkedIn</a>
        </li>
        <li class="nav-item hidden-xs-down">
          <a class="nav-link text-black" href="https://twitter.com/webjay">Twitter</a>
        </li>
        <li class="nav-item hidden-xs-down">
          <a class="nav-link text-black" href="https://www.flickr.com/photos/webjay">Flickr</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="https://www.instagram.com/webjay/">Instagram</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
