---
title: Jacob Friis Saxberg
---

<div id="brand">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="jacob.jpg" alt="Jacob" class="img-fluid img-circle" id="jacobPhoto">
      </div>
      <div class="col-md-4 offset-md-6">
        <div class="m-t-3">
          <h1 class="lead">Hi, I'm Jacob.</h1>
          <p>
            Photographer and fan of fast static websites. Co-founder of <a href="https://lorem.tech/">lorem.tech</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  
  <div id="photos" class="m-t-2 m-b-3">
    <div class="row m-b-2">
      <div class="col-sm-4">
        <div class="card">
          <a href="https://www.instagram.com/webjay/"><img src="balls.gif" alt="Loading image..." class="img-fluid img-thumbnail m-x-auto d-block"></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <a href="https://www.instagram.com/webjay/"><img src="balls.gif" alt="Loading image..." class="img-fluid img-thumbnail m-x-auto d-block"></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <a href="https://www.instagram.com/webjay/"><img src="balls.gif" alt="Loading image..." class="img-fluid img-thumbnail m-x-auto d-block"></a>
        </div>
      </div>
    </div>
  </div>    

</div>

<footer>
  <nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
    <div class="container">
      <nav class="nav nav-inline text-xs-center small">
        <a class="nav-link text-muted" href="mailto:jacob@webcom.dk">jacob@webcom.dk</a>
        <a class="nav-link text-muted" href="sms:+4542720871">+4542720871</a>
        <a class="nav-link text-muted" href="https://www.linkedin.com/in/jfsaxberg/">LinkedIn</a>
        <a class="nav-link text-muted" href="https://twitter.com/webjay">Twitter</a>
        <a class="nav-link text-muted" href="https://www.flickr.com/photos/webjay">Flickr</a>
        <a class="nav-link text-muted" href="https://www.instagram.com/webjay/">Instagram</a>
      </nav>
    </div>
  </nav>
</footer>
