body {
  background-color: #fff;
}

#photos {
  text-align: center;
}

#photos .imgbox {
  display: inline-block;
  min-width: 320px;
  min-height: 320px;
  margin: 10px;
}

#photos .img-std {
  width: 320px;
  height: 320px;
}

#photos .img-big {
  width: 640px;
  height: 640px;
}

footer nav.navbar {
  box-shadow: 0px -1px 5px 0px rgba(223,223,223,1);
}

.text-black {
  color: #000;
}

