body {
  background-color: #DFDFDF;
}

#jacobPhoto {
  width: 150px;
}

#brand {
  background-color: #fff;
  margin: 30px 0;
  padding: 20px 0 10px 0;
}

#photos .card {
  background-color: inherit;
  border: none;
  margin: 0;
}
  
#photos .card img {
  width: 320px;
  max-height: 320px;
}

footer nav.navbar {
  box-shadow: 0px -1px 5px 0px rgba(223,223,223,1);
}
